/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

:root {
  --text-color: #a7c080;
  /* --background-color: #191724; */
  --background-color: --transparent;
}
i {
  color: var(--text-color);
  margin-right: 4px;
  margin-left: 4px;
}

body {
  font-family: "JetBrainsMono Nerd Font Mono";
  background: var(--background-color);
  font-size: 11px;
  overflow: hidden;
  font-weight: 700;
}

div,
span,
p {
  cursor: default;
  user-select: none;
}

html,
body,
#root {
  height: 90%;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 90%;
  padding: 4px 0.5vw;
}

.left,
.center,
.right {
  display: flex;
}

.left {
  justify-self: start;
  align-items: left;
  color: var(--text-color);
}

.center {
  justify-self: center;
  color: var(--text-color);
  align-items: center;
}

.right {
  justify-self: end;
  color: var(--text-color);
  align-items: right;
}

.logo,
.binding-mode,
.tiling-direction,
.paused-button,
.network,
.memory,
.cpu,
.battery {
  color: var(--text-color);
  margin-right: 6px;
}

.workspaces {
  display: flex;
  align-items: left;
}

.workspace {
  font-weight: 700;
  color: var(--text-color);
  background: var(--background);
  margin-right: 4px;
  padding: 1px 4px;
  border: none;
  border-radius: 0px;
  cursor: pointer;

  &.displayed,
  &.focused,
  &:hover {
    outline: 1px solid var(--text-color);
  }
}

.tiling-direction {
  background: var(--background);
  color: var(--text-color);
  border-color: var(--text-color);
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode,
.paused-button {
  background: var(--background);
  border: none;
  border-radius: 99px;
  line-height: 1;
  padding: 4px 8px;
  font-family: "Segoe UI Variable", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  overflow: hidden;
  font-weight: 700;
}
.binding-mode {
  margin-right: 4px;
  color: var(--text-color);
}

.cpu .high-usage {
  color: var(--text-color);
}

.battery {
  position: relative;
  color: var(--text-color);
}

.battery .charging-icon {
  position: absolute;
  font-size: 8px;
  color: var(--text-color);
  left: -8px;
  top: 3px;
}
